<?xml version="1.0"?>
<settings>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>16</batches>
    <inactive>5</inactive>
    <particles>10000</particles>
  </eigenvalue>

  <!-- Starting source -->
  <source>
    <space type="point">
      <parameters>256.0 256.0 256.0</parameters>
    </space>
  </source>


  <entropy dimension="8 8 8" lower_left="0 0 0" upper_right="400 400 400" />
</settings>
